<div class="card">
  <div class="card-body w-100 h-100" style="">
    <div class="row">
      <div class="col-md-6">
        <h5 class="card-title"><b>General student info:</b></h5>
      </div>
      <div class="col-md-6 text-right"><a class="btn btn-info" href="#"><i class="fa fa-pencil fa-fw fa-1x py-1"></i></a></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>First name:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>Petar</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Last name:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>Petrovic</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Card number:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>SF-10-015</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Adress:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>Bulevar oslobodjenja 1</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Phone number:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>959495679845</label></div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-success" href="#">Save</a></div>
    </div>
  </div>
</div>