<!-- <div class="card">
  <div class="card-body w-100 h-100">
    <div class="row">
      <div class="col-md-6">
        <h5 class="card-title"><b>General student info:</b></h5>
      </div>
      <div class="col-md-6 text-right"><a class="btn btn-info" href="#"><i class="fa fa-pencil fa-fw fa-1x py-1"></i></a></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>First name:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>{{this.student.firstName}}</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Last name:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>{{this.student.lastName}}</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Card number:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>{{this.student.identificationNumber}}</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Adress:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>{{this.student.adress}}</label></div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-end border-right"><label>Phone number:</label></div>
      <div class="col-md-6 d-flex align-items-center justify-content-start"><label>{{this.student.phoneNumber}}</label></div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-success" href="#">Save</a></div>
    </div>
  </div>
</div> -->
<div class="w-75 d-inline-flex tabs">
  <div class="container container-wrapper co pr-0">
    <div class="row row-body-my">
      <div class="col-md-12 pr-0">
        <ul class="nav nav-tabs">
          <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">Lista</a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">Detalji</a> </li>
        </ul>
        <ul class="nav nav-pills">
          <li class="nav-item"> <a class="nav-link"><i class="d-block fa fa-lg <a class=&quot;btn btn-primary&quot; href=&quot;#&quot;><i class=&quot;fa fa-fw fa-1x py-1 FA fa-create fa-plus"></i></a> </li>
          <li class="nav-item"> <a class="nav-link"><i class="d-block fa fa-lg <a class=&quot;btn btn-primary&quot; href=&quot;#&quot;><i class=&quot;fa fa-fw fa-1x py-1 FA fa-pencil-square-o"></i></a> </li>
          <li class="nav-item"> <a class="nav-link"><i class="d-block fa fa-lg <a class=&quot;btn btn-primary&quot; href=&quot;#&quot;><i class=&quot;fa fa-fw fa-1x py-1 FA fa-trash-o"></i></a> </li>
          <li class="nav-item"> <a class="nav-link"><i class="d-block fa fa-lg <a class=&quot;btn btn-primary&quot; href=&quot;#&quot;><i class=&quot;fa fa-fw fa-1x py-1 FA fa-floppy-o"></i></a> </li>
        </ul>
        <div class="tab-content mt-2">
          <div class="tab-pane fade show active" id="tabone" role="tabpanel">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="tabtwo" role="tabpanel">
            <p class="">Which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
