<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="container"> <a class="navbar-brand text-primary" href="#">
      <i class="fa d-inline fa-lg fa-graduation-cap text-info"></i>
      <b class="text-info"> E obrazovanje&nbsp;</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav ml-auto"></ul> <a routerLink="/login" class="btn navbar-btn ml-md-2 btn-light">Login</a>
    </div>
  </div>
</nav>
