<div class="w-75 d-inline-flex tabs">
  <div class="card w-100 card-fix">
    <div class="card-body w-100 h-100">
      <h5 class="card-title"><b>Grades:</b></h5>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Course</th>
            <th scope="col" class="text-center">Total points</th>
            <th scope="col" class="text-center">Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="text-center">DB Basics 1 2019</td>
            <td class="text-center">81</td>
            <td class="text-center">9</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="text-center">DB Basics 2 2019</td>
            <td class="text-center">71</td>
            <td class="text-center">8</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="text-center">OOP desing 2018</td>
            <td class="text-center">61</td>
            <td class="text-center">7</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
