<div class="container-fluid">
    <!-- If not logged in: -->
    <div *ngIf="loggedIn; else notLoggedInTemplate">
      <!--If logged in: -->
      <app-header [loggedIn]="loggedIn" [loggedInUser]="loggedInUser" (logoutEvent)="logout()"></app-header>
      <div class="row">
        <div class="col-md-8 h-100">
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-4 h-100">
          <app-main-menu></app-main-menu>
        </div>
      </div>
    </div>
    <ng-template #notLoggedInTemplate>
        <app-login></app-login>
    </ng-template>

    
  </div>






