<div class="w-75 d-inline-flex tabs">
  <div class="card w-100 card-fix">
    <div class="card-body w-100 h-100">
      <h5 class="card-title"><b>You are currently enroled in:</b></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">DB Basics 1 2019</div>
            <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-info" href="#">Details</a></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">DB Basics 2 2019</div>
            <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-info" href="#">Details</a></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">OOP design 2018</div>
            <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-info" href="#">Details</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
