<h6 class="card-title">Exam registration history:</h6>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-center">Course</th>
          <th scope="col" class="text-center">Date</th>
          <th scope="col" class="text-center">Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td class="text-center">DB Basics 2018</td>
          <td class="text-center">13/6/2019</td>
          <td class="text-center">9</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td class="text-center">DB Basics 2019</td>
          <td class="text-center">14/6/2019</td>
          <td class="text-center" style="">
            <p>8</p>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td class="text-center">OOP desing 2018</td>
          <td class="text-center">15/6/2019</td>
          <td class="text-center" contenteditable="true">
            <p>7</p>
          </td>
        </tr>
      </tbody>
    </table>