<!-- <h6 class="card-title">Courses availible for registration:</h6>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-center">Course</th>
      <th scope="col" class="text-center">Date</th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="text-center">DB Basics 2018</td>
      <td class="text-center">13/6/2019</td>
      <td class="text-center"><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td class="text-center">DB Basics 2019</td>
      <td class="text-center">14/6/2019</td>
      <td class="text-center"><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td class="text-center">OOP desing 2018</td>
      <td class="text-center">15/6/2019</td>
      <td class="text-center" contenteditable="true"><input type="checkbox"></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-12 d-flex justify-content-end"><a class="btn btn-success" href="#">Register</a></div>
</div> -->

<div class="w-75 d-inline-flex tabs">
  <div class="container container-wrapper co pr-0">
    <div class="row row-body-my">
      <div class="col-md-12 pr-0">
        <ul class="nav nav-tabs">
          <li (click)="changTab(1)" class="nav-item"> <a [ngClass]="(activeTab === 1) ? 'active' : ''" href="" class="nav-link " data-toggle="tab" data-target="#tabone">List</a> </li>
        </ul>
        <div class="tab-content mt-2">
          <div  [ngClass]="(activeTab === 1) ? 'show active' : ''" class="tab-pane fade" id="tabone" role="tabpanel">
            <form>
              <div class="form-group form-inline">
                  Search: <input class="form-control ml-2" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
              </div>
            </form>

            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Term</th>
                <th scope="col">Course</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let exam of examRegistrationList | filter:searchText">
                  <td>{{ exam.term.name }}</td>
                  <td>{{ exam.course.name }}</td>
                  <td>{{ exam.location }}</td>
                  <td>{{ exam.examDate | date }}</td>
                  <td>
                    <a title="Register" class="btn btn-info mr-1" (click)="saveExamRegistration(exam.id)"><i class="fa fa-pencil fa-fw fa-1x py-1"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

