<div class="w-75 d-inline-flex tabs">
  <div class="card w-100 card-fix">
    <div class="card-body w-100 h-100">
      <h5 class="card-title"><b>Documents:</b></h5>
      <div class="row">
        <div class="col-md-12">
          <form id="c_form-h" class="">
            <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label text-right">Upload:</label>
              <div class="col-10 d-flex justify-content-center align-items-center">
                <input type="file" class="form-control-file" id="inputmailh" placeholder="mail@example.com"><a class="btn btn-success" href="#">Upload</a> </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card card-fix">
        <div class="card-body border mb-1">
          <h5 class="card-title">Scanned high school diploma</h5>
          <h6 class="card-subtitle my-2 text-muted">300KB</h6>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-info" href="#">Download</a></div>
          </div>
        </div>
        <div class="card-body border">
          <h5 class="card-title">Scanned high school diploma</h5>
          <h6 class="card-subtitle my-2 text-muted">300KB</h6>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 d-flex justify-content-end align-items-center"><a class="btn btn-info" href="#">Download</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
